.skillsTrackContainer {
  width: auto;
  overflow: hidden;
  display: flex;
}

.skillsTrack {
  display: flex;
  gap: 4rem;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  animation: scrollLeftContinuous 30s linear infinite;
}

.duplicate {
  animation: scrollLeftContinuousDuplicate 30s linear infinite;
}

/* Add this rule for consistent image height */
.skillsTrack img {
  height: 100px; /* Set a fixed height */
  width: auto;  /* Allow width to adjust proportionally */
  object-fit: contain; /* Ensure the image fits within the height */
}

@keyframes scrollLeftContinuous {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollLeftContinuousDuplicate {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}